.combo-box {
    -fx-background-color: #f4f0e0;
    -fx-font-family: "American Typewriter";
    -fx-font-size: 10px;
    -fx-border-color: gray;
    -fx-border-width: 2px;
    -fx-border-radius: 16;
    -fx-padding: 5px;
}

.combo-box:hover {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-cursor: hand;
}
.combo-box-popup .list-view {
    -fx-background-color: #f4f0e0;
}
.list-cell {
    -fx-background-color: #f4f0e0;
    -fx-font-family: "American Typewriter";
    -fx-font-size: 13px;
    -fx-text-fill: black;
}

.list-cell:hover {
    -fx-background-color: #e0dbc7;
}
